* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #e5e9e1;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: url('background.jpg') no-repeat center center/cover;
    color:  white
;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 2.5rem;
}

.hero-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.hero-content .btn {
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* About Section */
.about {
    padding: 4rem 2rem;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    padding: 1rem;
    text-align: center;
    background-color: #333;
    color: #0e9db0;
}

.social-links a {
    color: #107da8;
    text-decoration: none;
    margin: 0 0.5rem;
}

